#welcome-section {
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color-text;
  .welcome-text {
    width: 50%;
    h1 {
      font-size: 4.5rem;
      font-family: $font-heading;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
