// FONT VARIABLES
$font-heading: "Raleway", sans-serif;
$font-body: "Roboto", sans-serif;

// COLOR VARIABLES
$primary-color-dark: #112d4e;
$primary-color: #3ddc97;
$primary-color-light: #fcfcfc;
$primary-color-text: #46237a;
$accent-color: #ff1654ef;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$btn-color: #256eff;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media screen and (max-width: 550px) {
    font-size: 70%;
  }

  @media screen and (min-width: 550px) and (max-width: 750px) {
    font-size: 80%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  line-height: 1.6;
  color: $primary-text-color;
}
