#contact {
  background-color: $primary-color-text;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & h2 {
    font-family: $font-heading;
    font-size: 3rem;
    text-transform: uppercase;
    color: $primary-color;
    margin-right: 4rem;
  }

  & .icons {
    & .fab {
      font-size: 3rem;
      color: $primary-color;
      margin-left: 1.5rem;
    }
  }
}
